.tripListItem {
  height: 10rem;
  width: 15rem;
  border-radius: 1rem;

  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
}

.tripListItem:hover {
}

.tripListItem > p {
  color: var(--clr-light);
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding-bottom: 0.8rem;

  user-select: none;
}

.deleteSvgButton {
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
}

.deleteSvgButton > svg {
  fill: var(--clr-light);
}
