.tripListContainer {
  color: var(--clr-dark);
  height: 100%;
  padding-top: 15%;
}

.tripListContainer h2 {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--clr-gray-1);
  letter-spacing: 0.1rem;
}

.tripList {
  margin-top: 1.5rem;
  display: grid;
  gap: 1.5rem;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}
