.trip {
  height: 100%;
  color: var(--clr-dark);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.tripHeader {
  height: 18%;
  background-color: pink;
  flex-shrink: 0;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.tripHeader h2 {
  text-transform: capitalize;
  font-size: 2.8rem;
  padding-bottom: 0.5rem;
}

.tripContent {
  flex-grow: 1;
  overflow-y: auto;
  margin-inline: 1.4rem;
}

/***** FORM ******/

.addExpense {
  width: 85%;
  margin: auto;
  padding: 1.6rem 4rem;
  display: flex;
  flex-direction: column;

  border: 1px solid hsl(var(--clr-gray-1-hsl), 0.4);
}

.addExpense h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.addExpense form {
  width: 100%;
}

.addExpense form > div:not(:last-child) {
  margin-bottom: 3rem;
}

.fieldGroup {
  position: relative;
}

.fieldGroup > input::placeholder {
  color: transparent;
}

.fieldGroup > input {
  border-radius: 0;
  width: 100%;
  color: var(--clr-dark);
  font-weight: 400;
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--clr-primary);
  padding: 0.2rem 0.5rem;
}

.fieldGroup > input:is(:hover, :focus) {
  border-bottom: 2px solid var(--clr-secondary);
}

.label {
  cursor: pointer;
  color: var(--clr-gray-1);
  font-size: 1.4rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: -2rem;
  left: 0;
  transition: all 0.3s;
}

.fieldGroup > input:placeholder-shown ~ .label {
  font-size: 1.6rem;
  top: 0;
  cursor: text;
}

.selectGroup {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.selectGroup label {
  flex: 0 0 6rem;
}

.selectGroup select {
  flex-grow: 1;
  outline: none;
  border: none;
  padding: 0.5rem 0.2rem;
  background-color: transparent;
  border-bottom: 2px solid var(--clr-primary);
}

.selectGroup select:is(:hover, :focus) {
  border-bottom: 2px solid var(--clr-secondary);
}

.selectGroup option {
  padding: 10rem;
}

/***** END OF FORM ******/
