.trip {
  height: 100%;
  color: var(--clr-dark);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.tripHeader {
  height: 18%;
  background-color: pink;
  flex-shrink: 0;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.tripHeader h2 {
  text-transform: capitalize;
  font-size: 2.8rem;
  padding-bottom: 0.5rem;
}

.tripContent {
  flex-grow: 1;
  overflow-y: auto;
  /* margin-inline: 1.4rem; */
}

/*** EXPENSE ***/

.expenseContainer {
  font-size: 1.6rem;
  width: 85%;
  margin-inline: auto;
  margin-block: 2rem;
}

.expenseItem {
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--clr-gray);
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(4, 1fr) .5fr;
  align-items: center;
  
}

.expenseButtonGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

.expenseButtonGroup > svg {
  cursor: pointer;
  flex-shrink: 0;
}

/*** END OF EXPENSE ***/

/***** FORM ******/

.addExpense {
  width: 85%;
  margin-inline: auto;
  margin-block: 2rem;
  padding: 1.6rem 4rem;
  display: flex;
  flex-direction: column;

  border: 1px solid hsl(var(--clr-gray-1-hsl), 0.4);
}

.addExpense h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.addExpense form {
  width: 100%;
}

.addExpense form > div:not(:last-child) {
  margin-bottom: 3rem;
}

.fieldGroup {
  position: relative;
}

.fieldGroup > input::placeholder {
  color: transparent;
}

.fieldGroup > input {
  border-radius: 0;
  width: 100%;
  color: var(--clr-dark);
  font-weight: 400;
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--clr-primary);
  padding: 0.2rem 0.5rem;
}

.fieldGroup > input:is(:hover, :focus) {
  border-bottom: 2px solid var(--clr-secondary);
}

.label {
  cursor: pointer;
  color: var(--clr-gray-1);
  font-size: 1.4rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  top: -2rem;
  left: 0;
  transition: all 0.3s;
}

.fieldGroup > input:placeholder-shown ~ .label {
  font-size: 1.6rem;
  top: 0;
  cursor: text;
}

.selectGroup {
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.selectGroup label {
  flex: 0 0 8rem;
  color: var(--clr-gray-1);
}

.selectGroup select {
  flex-grow: 1;
  outline: none;
  border: none;
  padding: 0.3rem 0;
  background-color: transparent;
  border-bottom: 2px solid var(--clr-primary);
}

.selectGroup select:is(:hover, :focus) {
  border-bottom: 2px solid var(--clr-secondary);
}

.selectGroup option {
  padding: 10rem;
}

.selectGroup select > option:first-child {
  color: var(--clr-gray);
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
}

.buttonGroup button {
  border: none;
  border-radius: 0.2rem;
  outline: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  background-color: hsl(var(--clr-secondary-hsl), 0.7);
  color: hsl(var(--clr-light-hsl), 0.9);
  transition: all 0.3s;
}

.buttonGroup button:first-child {
  background-color: hsl(var(--clr-danger-hsl), 0.7);
}

.buttonGroup button:hover {
  cursor: pointer;
  background-color: hsl(var(--clr-secondary-hsl), 0.9);
}

.buttonGroup button:first-child:hover {
  background-color: hsl(var(--clr-danger-hsl), 0.9);
}

/***** END OF FORM ******/
