.backBtn {
  position: absolute;
  margin-top: 1.8rem;
  margin-left: 2.2rem;
  padding: 0 2rem;
  background-color: hsl(var(--clr-secondary-hsl), 0.6);
  border: none;
  border-radius: 100rem;
  transition: all 0.3s;
}

.backBtn:hover {
  cursor: pointer;
  background-color: hsl(var(--clr-secondary-hsl), 0.9);
}

.backBtn > svg {
  fill: var(--clr-light);
  transition: all 0.3s;
}

.backBtn:hover > svg {
  animation: arrowMove 1s linear infinite;
}

@keyframes arrowMove {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
