.addTripForm {
  width: 80%;
  margin-inline: auto;
  margin-top: 3rem;
  background-color: var(--clr-light);
  color: var(--clr-gray-1);
  font-size: 1.8rem;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.addTripForm h2 {
  position: relative;
  text-align: center;
  font-size: 2.6rem;
  color: var(--clr-dark);
}

.addTripForm h2::after {
  content: '';
  display: block;
  margin-top: 1rem;
  height: 0.1rem;
  width: 60%;
  margin-inline: auto;
  background-color: var(--clr-gray-1);
}

.addTripForm h2::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);

  margin-top: 0.5rem;
  height: 0.3rem;
  width: 5rem;
  background-color: hsl(var(--clr-primary-hsl), 0.6);
}

.addTripForm h2 span {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  color: hsl(var(--clr-dark-hsl), 0.7);
}

.addTripForm form {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.addTripForm form > div:not(:last-child) {
  margin-bottom: 3.6rem;
}

.fieldGroup {
  position: relative;
}

.fieldGroup input {
  border-radius: 0;
  /* -webkit-border-radius: 0; */
  width: 100%;
  border: none;
  outline: none;
  padding: 0.3rem 0.5rem;
  color: var(--clr-dark);
  border-bottom: 2px solid var(--clr-primary);
  background-color: transparent;
  transition: all 0.3s;
}

.fieldGroup input:active,
.fieldGroup input:focus {
  border-bottom: 2px solid var(--clr-secondary);
}

.fieldGroup input::placeholder {
  color: transparent;
}

.label {
  cursor: text;
  padding: 0 0.5rem;
  position: absolute;
  display: block;
  left: 0;
  line-height: 1;
  color: var(--clr-gray-1);
  top: -16px;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.fieldGroup input:placeholder-shown ~ .label {
  font-size: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.fieldGroup > button {
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 0.2rem 1.5rem;
  font-size: 1.6rem;
  transition: all 0.3s;

  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.15rem;

  color: var(--clr-light);
  outline-color: var(--clr-light);
  background-color: hsl(var(--clr-secondary-hsl), 0.75);
}

.addTripButtonGroup {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.addTripButtonGroup button {
  border: none;
  border-radius: 0.5rem;

  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  padding: 0.8rem 0;

  color: var(--clr-light);
  outline-color: var(--clr-light);
  background-color: hsl(var(--clr-secondary-hsl), 0.75);

  transition: all 0.3s;
}

.addTripButtonGroup button:hover,
.fieldGroup > button:hover {
  cursor: pointer;
  background-color: hsl(var(--clr-secondary-hsl), 0.9);
  box-shadow: hsl(var(--clr-secondary-hsl), 0.3) 0px 8px 24px;
  translate: 0 -0.4rem;
}

.dangerBtn {
  background-color: hsl(var(--clr-danger-hsl), 0.85) !important;
}

.friendsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.friendsHeading {
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--clr-gray-1);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.friendName {
  user-select: none;
  background-color: hsl(var(--clr-primary-hsl), 0.7);
  color: var(--clr-light);
  padding: 0.2rem 1rem;
  border-radius: 10rem;
  margin-inline: 0.5rem;
  margin-bottom: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.friendName:hover {
  cursor: pointer;
}
