.backBtn {
  position: absolute;
  margin-top: 1.8rem;
  margin-left: 2.2rem;
  padding: 0 2rem;
  background-color: hsl(var(--clr-secondary-hsl), 0.6);
  border: none;
  border-radius: 100rem;
  transition: all 0.3s;
}

.backBtn:hover {
  cursor: pointer;
  background-color: hsl(var(--clr-secondary-hsl), 0.9);
}

.backBtn > svg {
  fill: var(--clr-light);
  transition: all 0.3s;
}

.backBtn:hover > svg {
  animation: arrowMove 1s linear infinite;
}

@keyframes arrowMove {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.addTripForm {
  width: 75%;
  margin-top: 10rem;
  margin-inline: auto;
  background-color: var(--clr-light);
  color: var(--clr-gray-1);
  font-size: 1.8rem;
}

.addTripForm form > div:not(:last-child) {
  margin-bottom: 3.6rem;
}

.fieldGroup {
  position: relative;
}

.fieldGroup input {
  border-radius: 0;
  /* -webkit-border-radius: 0; */
  width: 100%;
  border: none;
  outline: none;
  padding: 0.3rem 0.5rem;
  color: var(--clr-dark);
  border-bottom: 2px solid var(--clr-primary);
  background-color: transparent;
  transition: all 0.3s;
}

.fieldGroup input:active,
.fieldGroup input:focus {
  border-bottom: 2px solid var(--clr-secondary);
}

.fieldGroup input::placeholder {
  color: transparent;
}

.label {
  padding: 0 0.5rem;
  position: absolute;
  display: block;
  left: 0;
  line-height: 1;
  color: var(--clr-gray-1);
  top: -16px;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.fieldGroup input:placeholder-shown ~ .label {
  font-size: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.addTripButtonGroup {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.addTripButtonGroup button {
  border: none;
  border-radius: 0.5rem;

  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.15rem;
  padding: 0.8rem 0;

  color: var(--clr-light);
  outline-color: var(--clr-light);
  background-color: hsl(var(--clr-secondary-hsl), 0.75);

  transition: all 0.3s;
}

.addTripButtonGroup button:hover {
  cursor: pointer;
  background-color: hsl(var(--clr-secondary-hsl), 0.9);
  box-shadow: hsl(var(--clr-secondary-hsl), 0.3) 0px 8px 24px;
  translate: 0 -0.4rem;
}

.friendsContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.friendsHeading {
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--clr-gray-1);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.friendName {
  user-select: none;
  background-color: hsl(var(--clr-primary-hsl), 0.7);
  color: var(--clr-light);
  padding: 0.2rem 1rem;
  border-radius: 10rem;
  margin-inline: 0.5rem;
  margin-bottom: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.friendName:hover {
  cursor: pointer;
}
