.backBtn {
  position: absolute;
  margin-top: 1.8rem;
  margin-left: 2.2rem;
  padding: 0rem 1.4rem;
  background-color: hsl(var(--clr-secondary-hsl), 0.6);
  border: none;
  border-radius: 100rem;
  transition: all 0.3s;
}

.backBtn:hover {
  cursor: pointer;
  background-color: hsl(var(--clr-secondary-hsl), 0.9);
  padding: 0 1.7rem;
}

.backBtn > svg {
  fill: var(--clr-light);
  transition: all 0.3s;
}

.backBtn:hover > svg {
  transform: translateX(-20%);
}

.addTripForm {
  width: 75%;
  margin-top: 10rem;
  margin-inline: auto;
  background-color: var(--clr-light);
  font-size: 1.8rem;
}

.addTripForm form > div:not(:last-child) {
  margin-bottom: 3.4rem;
}

.fieldGroup {
  position: relative;
}

.fieldGroup input {
  border-radius: 0;
  -webkit-border-radius: 0;
  width: 100%;
  border: none;
  outline: none;
  padding: .3rem 0.5rem;
  color: var(--clr-dark);
  border-bottom: 2px solid var(--clr-primary);
  background-color: transparent;
  transition: all 0.3s;
}

.fieldGroup input:active,
.fieldGroup input:focus {
  border-bottom: 2px solid var(--clr-secondary);
}

.fieldGroup input::placeholder {
  color: transparent;
}

.label {
  padding: 0 0.5rem;
  position: absolute;
  display: block;
  left: 0;
  line-height: 1;
  color: var(--clr-gray-1);
  top: -16px;
  font-size: 1.4rem;
  transition: all 0.3s;
}

.fieldGroup input:placeholder-shown ~ .label {
  font-size: 1.8rem;
  top: 50%;
  transform: translateY(-50%);
}
