.main {
  height: 100dvh;
  background-color: var(--clr-primary);
  display: flex;
  flex-direction: column;
}

.heading {
  flex-shrink: 0;
  height: 20dvh;
  display: flex;
  align-items: center;
}

.heading h1 {
  user-select: none;
  flex-grow: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 5rem;
  letter-spacing: 1.5rem;
}

.heading h1::after {
  content: '';
  margin-right: -1.5rem;
}

.container {
  flex-grow: 1;
  background-color: var(--clr-light);
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  overflow: auto;
}

.settingIcon {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

.settingIcon > svg {
  fill: var(--clr-light);
  animation: rotate 10s linear infinite;
}

.settingIcon > svg:hover {
  cursor: pointer;
  animation: none;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
